/* nav.css */


/* Apply styles specifically to the navigation bar */

nav {
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    text-align: right;
}


/* Style the list items (menu items) */

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}


/* Style the links */

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px 12px;
    display: block;
    border-radius: 3px;
    transition: background-color 0.3s;
}


/* Change background color on hover */

nav a:hover {
    background-color: #555;
}

nav .active a {
    background-color: rgb(0, 0, 255);
}


/* Add this rule to style the drop-down menu */

nav ul ul {
    display: none;
    position: absolute;
    background-color: #3498db;
    border: 2px solid #2980b9;
    border-radius: 5px;
    left: 50%;
    /* Center the dropdown horizontally */
    transform: translateX(-50%);
    /* Adjust for centering */
}

nav ul li:hover>ul {
    display: block;
}