/* Define @font-face for custom fonts */

@font-face {
    font-family: 'PTSerif-Regular';
    src: url('/PT_Serif/PTSerif-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'PTSerif-Bold';
    src: url('/PT_Serif/PTSerif-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'PTSerif-Italic';
    src: url('/PT_Serif/PTSerif-Italic.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'PTSerif-ItalicBold';
    src: url('/PT_Serif/PTSerif-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}


/* Default styles */

body {
    font-family: 'PTSerif-Regular', serif;
    /* Use regular custom font as default */
    color: rgb(0, 0, 0);
    /* Default text color */
    text-align: center;
    /* Center align text within body */
    margin: 0;
    /* Remove default margin */
    padding: 0;
    /* Remove default padding */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    /* Center align headings */
    margin: 10px;
    /* Remove margin for headings */
}

p {
    text-align: left;
    /* Left align paragraphs */
    margin: 10px;
    /* Remove default margin for paragraphs */
}


/* Specific styles for elements */

h1 {
    color: rgb(0, 0, 255);
    /* Blue color for h1 */
}

#reflection p::first-letter {
    font-size: 1.5em;
    font-weight: bold;
    color: #3366cc;
    /* Blue color for first letter of first paragraph */
}

#reflection p:not(:first-of-type) {
    text-indent: 2em;
    /* Indent all paragraphs except the first */
    margin: 10px 0;
    /* Margin for paragraphs */
    padding: 10px;
    /* Padding for paragraphs */
}

.resume-container {
    text-align: center;
    /* Center align content within resume container */
}

blockquote {
    text-align: center;
    /* Center align text within blockquote */
    margin: 0 auto;
    /* Center blockquote horizontally */
}

footer {
    text-align: center;
    /* Center align text within footer */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    /* Light gray background color for footer */
    padding: 18px;
    /* Padding for footer */
}

.container {
    max-width: 800px;
    /* Maximum width for content container */
    margin: 0 auto;
    /* Center align container */
    padding: 20px;
    /* Padding for container */
}


/* Media query for mobile devices */

@media only screen and (max-width: 768px) {
    .container {
        padding: 10px;
        /* Adjusted padding for smaller screens */
    }
}


/* Print styles */

@media print {
    body {
        color: black;
        /* Set text color to black for printing */
        font-family: serif;
        /* Use serif font for printing */
        margin: 1in;
        /* Set printable margins to 1 inch on all sides */
    }
    h1,
    p,
    ul,
    ol,
    blockquote,
    footer {
        color: black;
        /* Set text color to black for printing */
        font-family: 'PTSerif-Regular', serif;
        /* Use regular custom font for printing */
        page-break-inside: avoid;
        /* Avoid breaking elements across pages */
    }
}


/* Define styles for footer icons */

.footer-icon {
    width: 15px;
    /* Initial width */
    height: 15px;
    /* Initial height */
    transition: transform 0.2s ease;
    /* Smooth transition effect */
}


/* Hover effect for footer icons */

.footer-icon:hover {
    transform: scale(2.0);
    /* Increase size by 100% on hover */
}


/* Footer background image */

footer {
    background-image: url('images/footer_bg.jpeg');
    background-size: cover;
    padding: 20px;
    /* Optional: Add padding for better spacing */
    color: white;
    /* Optional: Set text color for better contrast */
}