/* Define @font-face for custom fonts */

@font-face {
    font-family: 'PTSerif-Regular';
    src: url('/PT_Serif/PTSerif-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'PTSerif-Bold';
    src: url('/PT_Serif/PTSerif-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'PTSerif-Italic';
    src: url('/PT_Serif/PTSerif-Italic.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'PTSerif-ItalicBold';
    src: url('/PT_Serif/PTSerif-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}


/* Default styles */

body {
    font-family: 'PTSerif-Regular', serif;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    margin: 10px;
}

p {
    text-align: left;
    margin: 10px;
}


/* Specific styles for elements */

h1 {
    color: rgb(0, 0, 255);
}

#reflection p::first-letter {
    font-size: 1.5em;
    font-weight: bold;
    color: #3366cc;
}

#reflection p:not(:first-of-type) {
    text-indent: 2em;
    margin: 10px 0;
    padding: 10px;
}

.resume-container,
blockquote,
footer {
    text-align: center;
}

blockquote {
    margin: 10px auto;
    max-width: 600px;
    padding: 10px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    padding: 18px;
    background-image: url('images/footer_bg.jpeg');
    background-size: cover;
    color: white;
    margin: 10px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    text-indent: 2em;
}


/* Media query for mobile devices */

@media only screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }
}


/* Print styles */

@media print {
    body {
        color: black;
        font-family: serif;
        margin: 1in;
    }
    h1,
    p,
    ul,
    ol,
    blockquote,
    footer {
        color: black;
        font-family: 'PTSerif-Regular', serif;
        page-break-inside: avoid;
    }
}


/* Define styles for footer icons */

.footer-icon {
    width: 15px;
    height: 15px;
    transition: transform 0.2s ease;
}


/* Hover effect for footer icons */

.footer-icon:hover {
    transform: scale(2.0);
}

.video-container {
    position: relative;
    padding-bottom: 2%;
    /* 16:9 aspect ratio */
    overflow: hidden;
}


/* Apply styles to the profile picture */

.profile_pic {
    max-width: 90%;
    /* Limit the maximum width of the image */
    height: auto;
    /* Maintain aspect ratio */
    width: auto;
}


/* Responsive adjustments using media queries */

@media (max-width: 768px) {
    /* Adjust image size for smaller screens */
    .profile_pic {
        max-width: 80%;
        /* Reduce image width for smaller screens */
    }
}

@media (max-width: 480px) {
    /* Further adjustments for extra small screens */
    .profile_pic {
        max-width: 100%;
        /* Allow image to occupy full width on very small screens */
    }
}

.project-image {
    max-width: 90%;
    /* Limit the maximum width of the image */
    height: auto;
    /* Maintain aspect ratio */
    width: auto;
}


/* Responsive adjustments using media queries */

@media (max-width: 768px) {
    /* Adjust image size for smaller screens */
    .project-image {
        max-width: 80%;
        /* Reduce image width for smaller screens */
    }
}

@media (max-width: 480px) {
    /* Further adjustments for extra small screens */
    .project-image {
        max-width: 100%;
        /* Allow image to occupy full width on very small screens */
    }
}